## try  python

In [1]:
print("Hello World! ,,,   Let's study Python !!")

Hello World! ,,,   Let's study Python !!

In [2]:
40+2

42

In [3]:
6**2

36

###  new style of formatting strings

In [1]:
n=12
print('intt={}'.format(n))

intt=12

### minumum field width 10, right-aligned

In [3]:
n=12
t=11.33
print('intt={0:10d} realnb={1:10f}'.format(n,t))

intt=        12 realnb= 11.330000

## type returns the type of the object
## value and type

In [16]:
print(42)
print(type(42))

42
<class 'int'>

In [18]:
print(42.0)
print(type(42.0))

42.0
<class 'float'>

In [17]:
print('hello syt')
print(type('hello syt'))

hello syt
<class 'str'>

## https://wiki.python.org/moin/BitwiseOperators

## bitwise operator

In [5]:
6^2

4